.header{
    justify-content: center;
    width: 100%;
}
.header-content{
    display: flex;
    gap: 604px;
    justify-content: center;
}
.image-back{
    width: 100%;
    background-size: cover;
}
.image-sect{
    position: relative;
    top: -250px;
}
.links{
    display: flex;
    gap: 12px;
}
.button-section{
    background-color: aliceblue;
    width: 966px;
    height: 72px;
    padding: 12px;
    border-radius: 20px;
}
.sign-float{
    background-color: rgb(4, 4, 95);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
}
.sign-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-holder{
    display: flex;
    gap: 700px;
}
#image{
    width: 100%;
}
.button{
    width: 273.33px;
    height: 48px;
}
.button-submit{
    color: white;
    background-color: blue;
    border-radius: 15px;
    width: 85px;
    height: 48px;
}